#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cart h2 {
    font-size: 36px;
}

#cart p {
    font-size: 24px;
}

#cart > button {
    margin-top: 64px;
    font-size: 18px;
    background: black;
    padding: 16px 48px;
    color: white;
    border-radius: 0;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}

#cart > button:hover {
    color: black;
    background: white;
    border-style: solid;
    border-color: black;
}
