#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home h2 {
    width: 100%;
    text-align: center;
    font-size: 96px;
}

#home p {
    max-width: 750px;
    font-size: 36px;
    text-align: center;
}

#home button {
    font-size: 18px;
    background: black;
    padding: 16px 48px;
    color: white;
    border-radius: 0;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
}

#home button:hover {
    color: black;
    background: white;
    border-color: black;
    border-style: solid;
    
}
