form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 350px;
    gap: 24px;

}

form img {
    height: 100%;
}

form > div {
    height: 100%
}


form h2 {
    font-size: 36px;
    margin-top: 15px;
}

form p {
    font-size: 18px;
}

#submit {
    margin-top: 64px;
    font-size: 18px;
    background: black;
    padding: 16px 48px;
    color: white;
    border-radius: 0;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
    transition: 0.3s;
}

#submit:hover {
    color: black;
    background: white;
    border-style: solid;
    border-color: black;
}