nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-box a {
    display: flex;
    align-items: center;
    font-size: 32px;    
}

.link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
    font-size: 18px;
}

.link-box a:first-child {
    transition: 0.1s;
}

.link-box a:first-child:hover {
    border-bottom-style: solid;
    border-bottom-color: black;
}

#cart-quantity {
    position: relative;
    left: 36px;
    bottom: 24px;
    color: white;
}

